{% if standby_logfile_size_automatic_sync_with_primary %}
alter database add standby logfile group 31 '{{ dg_logfile_target }}/standby31.log' size {{ standby_logfile_size.stdout }};
alter database add standby logfile group 32 '{{ dg_logfile_target }}/standby32.log' size {{ standby_logfile_size.stdout }};
alter database add standby logfile group 33 '{{ dg_logfile_target }}/standby33.log' size {{ standby_logfile_size.stdout }};
alter database add standby logfile group 34 '{{ dg_logfile_target }}/standby34.log' size {{ standby_logfile_size.stdout }};
alter database add standby logfile group 35 '{{ dg_logfile_target }}/standby35.log' size {{ standby_logfile_size.stdout }};
alter database add standby logfile group 36 '{{ dg_logfile_target }}/standby36.log' size {{ standby_logfile_size.stdout }};
alter database add standby logfile group 37 '{{ dg_logfile_target }}/standby37.log' size {{ standby_logfile_size.stdout }};
alter database add standby logfile group 38 '{{ dg_logfile_target }}/standby38.log' size {{ standby_logfile_size.stdout }};
alter database add standby logfile group 39 '{{ dg_logfile_target }}/standby39.log' size {{ standby_logfile_size.stdout }};
alter database add standby logfile group 40 '{{ dg_logfile_target }}/standby40.log' size {{ standby_logfile_size.stdout }};
{% else %}
alter database add standby logfile group 31 '{{ dg_logfile_target }}/standby31.log' size {{ standby_logfile_size }};
alter database add standby logfile group 32 '{{ dg_logfile_target }}/standby32.log' size {{ standby_logfile_size }};
alter database add standby logfile group 33 '{{ dg_logfile_target }}/standby33.log' size {{ standby_logfile_size }};
alter database add standby logfile group 34 '{{ dg_logfile_target }}/standby34.log' size {{ standby_logfile_size }};
alter database add standby logfile group 35 '{{ dg_logfile_target }}/standby35.log' size {{ standby_logfile_size }};
alter database add standby logfile group 36 '{{ dg_logfile_target }}/standby36.log' size {{ standby_logfile_size }};
alter database add standby logfile group 37 '{{ dg_logfile_target }}/standby37.log' size {{ standby_logfile_size }};
alter database add standby logfile group 38 '{{ dg_logfile_target }}/standby38.log' size {{ standby_logfile_size }};
alter database add standby logfile group 39 '{{ dg_logfile_target }}/standby39.log' size {{ standby_logfile_size }};
alter database add standby logfile group 40 '{{ dg_logfile_target }}/standby40.log' size {{ standby_logfile_size }};
{% endif %}

alter database recover managed standby database using current logfile disconnect from session;
exec dbms_lock.sleep(300);
alter database recover managed standby database cancel;
alter database open;
alter database recover managed standby database using current logfile disconnect from session;

alter profile default limit password_life_time unlimited;
alter profile default limit failed_login_attempts unlimited;
alter database force logging;
alter database add supplemental log data;
alter system set audit_trail=none scope=spfile;
alter system set audit_sys_operations=false scope=spfile;
alter system set recyclebin=off scope=spfile;
alter system set processes=2000 scope=spfile;
alter system set db_files=2000 scope=spfile;
alter system set deferred_segment_creation=false scope=spfile;
alter system set parallel_force_local=true scope=spfile;
alter system set max_dump_file_size='100M' scope=spfile;
alter system set enable_ddl_logging=true scope=spfile;
alter system set "_serial_direct_read"=false scope=spfile;
alter system set "_use_adaptive_log_file_sync"=false scope=spfile;
alter system set "_undo_autotune"=false scope=spfile;
alter system set "_rollback_segment_count"=2000 scope=spfile; 
alter system set "_partition_large_extents"=false scope=spfile;
alter system set "_index_partition_large_extents"=false scope=spfile;
alter system set "_cursor_obsolete_threshold"=100 scope=spfile;
alter system set "_ash_size"=100M scope=spfile;
alter system set "_optim_peek_user_binds"=false scope=spfile;
alter system set "_optimizer_adaptive_cursor_sharing"=false scope=spfile;
alter system set "_optimizer_extended_cursor_sharing"=none scope=spfile;
alter system set "_optimizer_extended_cursor_sharing_rel"=none scope=spfile;
alter system set "_optimizer_use_feedback"=false scope=spfile;
alter system set "_gc_policy_time"=0 scope=spfile;
alter system set "_gc_undo_affinity"=false scope=spfile;
alter system set "_lm_drm_disable"=7 scope=spfile;
alter system set optimizer_adaptive_plans=false scope=spfile;
alter system set "_use_single_log_writer"=true scope=spfile;
alter system set "_sys_logon_delay"=0 scope=spfile;
alter system set heat_map=off scope=spfile;
alter system set "_drop_stat_segment"=1 scope=spfile;
exec dbms_space_admin.heat_map_segment_drop;
alter system set "_max_spacebg_slaves"=10;

exit;
