defaults {
  user_friendly_names yes
  find_multipaths yes
}

blacklist {
devnode "^sda"
}

multipaths {
  {% for device in os_iscsi_discovery__storage_wwid_and_alias%}
  multipath {
    wwid {{ device.wwid }}
    alias {{ device.alias }}
  }
  {% endfor%}
}
